<p id="notice"><%= notice %></p>
<br><br><br>

  <div class="field">
    <strong>First name:</strong>
    <%= @user.first_name %>
  </div>
  <div class="field">
     <strong>Last name:</strong>
    <%= @user.last_name %>
  </div>

  <div class="field">
    <strong>Email Address:</strong>
    <%= @user.email %>
  </div>

<br><br><br>
<div class="field">
   <%= link_to 'Edit', edit_user_path(@user) %> |
   <%= link_to 'Back', users_path %>
</div>


