<h1>Display Product</h1>

<p id="notice"><%= notice %></p>



<div class="col-sm-6"><div class="showphoto"> <%= image_tag(@product.image_url, class: "img-responsive") %> </div>

  
</div>
 <div class="col-sm-6">
     <div class="showtext">
        <div class="field">
          <strong>Name:</strong>
          <%= @product.name %>
        </div>

        <div class="field">
          <strong>Description:</strong>
          <%= @product.description %>
        </div>

        <div class="field">
          <strong>Image url:</strong>
          <%= @product.image_url %>
        </div>
        <div class="field">
          <strong>Colour:</strong>
          <%= @product.colour %>
        </div>
        <div class="field">
          <strong>Price:</strong>
          $<%= @product.price %>
          
        </div>
        <div class="field">
          <span class="glyphicon glyphicon-comment"></span> 
          <strong>Average Rating:</strong>
          <div class="rated" data-score="<%= @product.average_rating %>"> </div>

<!-- <% logger.debug "Product (inside show): #{@product.name}"%> -->


          <%= form_tag "/payments/create" do %>
            <%= render partial: "shared/stripe_checkout_button" %>
            <%= hidden_field_tag(:product_id, @product.id) %>
            <%= hidden_field_tag(:product_price, @product.price) %>
          <% end %>

          <br>  
          <%= render 'comments' %>
          
            
          <%= render 'new_comment' %>
               
          <%= will_paginate @comments %>
        </div>
          
                 
      </div>




  </div>
 
 


<br>
<div class="showbackeditlink">
	  <p>
	    <%= link_to 'Edit', edit_product_path(@product) %> |
		<%= link_to 'Back', products_path %>
	  </p>
</div>

