<h1>Display Product</h1>

<p id="notice"><%= notice %></p>


<!-- 
<div class="field">
  <strong>Name:</strong>
  <%= @product.name %>
</div>

<div class="field">
  <strong>Description:</strong>
  <%= @product.description %>
</div>

<div class="field">
  <strong>Image url:</strong>
  <%= @product.image_url %>
    
   
</div>
<div class="field">
  <strong>Colour:</strong>
  <%= @product.colour %>
</div>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

******

<h2><%= @product.name %></h2>
           <p><%= @product.description %></p>

-->


 

<div>
  <%= render @product %>
</div>
 



<br>
<div class="showbackeditlink">
	  <p>
	    <%= link_to 'Edit', edit_product_path(@product) %> |
		<%= link_to 'Back', products_path %>
	  </p>
</div>

